/*
	Imports
	todo: swap to a CSS loader
*/

@import 'normalize.css';
@import 'font-awesome.min.css';


/*
	Base
*/

body {
	color: #363636;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1030px;
	margin: 0 auto;
}

.header {
	display: block;
	text-align: center;
}


/*
	Components
*/

.Button {
	border: 3px solid #363636;
	display: inline-block;
	font-weight: 600;
	line-height: 1;
	padding: 1.1em 1.2em;
	margin: 1.2em;
}

.Button:hover {
	background-color: #363636;
	color: #ffffff;
	cursor: pointer;
}

.Carousel {
	background-color: #cccccc;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	position: relative;
}

.Carousel-scrollContainer {
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	height: 100%;
}

.Carousel-prevButton,
.Carousel-nextButton {
	color: #ffffff;
	cursor: pointer;
	font-size: 2em;
	line-height: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 80px;
}

.Carousel-prevButton {
	left: 0;
}

.Carousel-nextButton {
	right: 0;
}

.Carousel-dot-container {
	bottom: 0;
	left: 0;
	padding: 10px;
	position: absolute;
	right: 0;
	text-align: center;
}

.Carousel-dot {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 10px;
	width: 10px;
}

.Carousel-dot-selected {
	background-color: rgba(255, 255, 255, 1);
}

.CarouselItem {
	display: inline-block;
	text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.CarouselItem-model {
	color: #ffffff;
	font-size: 1em;
	margin-top: 1.66em;
}

.CarouselItem-name {
	color: #ffffff;
	font-family: 'Playfair Display', serif;
	font-size: 3.8em;
	font-style: italic;
	font-weight: bold;
	line-height: 1;
}

.Modal {
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

.Modal-dialog {
	background-color: #ffffff;
	margin: 0 auto;
	overflow: scroll;
	text-align: left;
}

.ProductDialog {
	position: relative;
}

.ProductDialog-close {
	color: #cccccc;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5em;
	line-height: 0;
	margin-right: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
}


/*
	Utilities
*/

.u-center {
	text-align: center;
}
